<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Username and Password</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/Icon.png') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        .title {
            padding: 10px 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="wrapper">
            <div class="title"><span>Your User Name and Password</span></div>
            <p><strong>Username:</strong> {{ post.username }}</p>
            <p><strong>Password:</strong> {{ post.password }}</p>  <!-- This now shows the decrypted password -->
            <div class="row button">
                <a href="/" class="btn">Go to Login</a>
            </div>
        </div>
    </div>
</body>
</html>
